<header>
  <nav
    class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand"
      href="/urls">TinyApp</a>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span
        class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link"
          href="/urls">My URLs</a>
        <a class="nav-item nav-link"
          href="/urls/new">Create New
          URL</a>
      </div>
    </div>
    <%if (username){ %>
    <p
      style="color: #3f3f3f; margin: 10px; font-size: 1.2rem;">
      Logged
      In
      As: <%= username%>!
    </p>
    <form method="Post"
      action="/logout">
      <div
        style="display: inline-flex;">

        <button style="margin: 0px 10px"
          type="submit"
          class="btn btn-outline-light">Logout</button>
      </div>
    </form>
    <% } else { %>


    <form method="Post" action="/login">
      <div style="display: inline-flex">
        <input type="username"
          name="username"
          placeholder="Username">
        <button style="margin: 0px 10px"
          type="submit"
          class="btn btn-outline-light">Login</button>
      </div>
    </form>

    <% } %>

  </nav>
</header>