<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="/styles/style.css">

  <title>TinyURL || Registration</title>
</head>

<body>
  <div class="background">
    <header>
      <div class="heading">
        <h1>TinyApp</h1>
        <p>Save URL's - Save Time -
          Save
          Characters</p>
      </div>
    </header>



    <div class="container">
      <form action="/register"
        method="POST">
        <div class="form-item">
          <p>Create an Account</p>

          <input type="email"
            name="email"
            placeholder="email">
        </div>
        <div class="form-item">
          <input type="password"
            name="password"
            placeholder="password">
        </div>
        <div class="form-item">
          <button
            class="btn-primary">Submit</button>
        </div>

      </form>


    </div>



  </div>




</body>

</html>